.top-container{
    background-color: aliceblue;
    position: relative;
    padding-top: 100px;

}
h1{
    margin-top: 0;
    font-size: 562.5%;
    text-align: center;
    font-family: 'Sacramento', cursive;
}
h2{
    font-family: 'Montserra';
}
h3{

}
body{
    text-align: center;
    margin:0;
    font-family: 'Merriweather', serif;
}

.pro{
    text-decoration: underline;
}

.buttom-cloud{

}
.top-cloud{
    position: absolute;
    right: 300px;
    top:50px
}
.profile-pic{
    width: 150px;
}
.skills-pic{
    width: 100px;
}
.chillies-pic{
    width: 100px;
}
