.top-container{
    background-color: aliceblue;
    position: relative;
    padding-top: 100px;
    margin-bottom: 50px;

}
h1{
    margin: 50px auto 0px auto;
    font-size: 5.625rem;
    text-align: center;
    font-family: 'Sacramento', cursive;
    color: #66BFBF;
    line-height: 1;
}
h2{
    font-family: 'Montserra';
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
}
h3{
    color:#11999E
}
body{
    text-align: center;
    margin:0;
    font-family: 'Merriweather', serif;
}
.btn{
    color:#11999E
}
.footer-link{
    color: #11999E;
}

.pro{
    text-decoration: underline;
}

.buttom-cloud{

}
.skill-row{
    margin:  100px auto 100px auto;
    text-align: left;
    line-height: 3;
    width: 50%;
}
.top-cloud{
    position: absolute;
    right: 300px;
    top:50px
}
.profile-pic{
    width:30%;
}
.skills-pic{
    width: 25%;
    float: left;
    margin-right: 30px;
}
.chillies-pic{
    width: 25%;
    float: right;
    margin-left: 30px}

